---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="talks" class="pl-xl-3">
    {% for post in site.talks %}
    {% assign cur_year = post.date | date: '%Y' %}

    {% if cur_year != last_year %}
    {% unless forloop.first %}</ul>{% endunless %}

    <time class="year lead d-block fs-1">{{ cur_year }}</time>
    {{ '<ul class="list-unstyled">' }}

        {% assign last_year = cur_year %}
        {% endif %}

        <li class="d-flex border-bottom border-primary border-opacity-25 mb-4">
            <time class="d-flex flex-column align-items-center">
                <span class="date month text-uppercase rounded">{{ post.date | date: '%b' }}</span>
                <span class="date day">{{ post.date | date: '%d' }}</span>
                <span class="date week text-uppercase">{{ post.date | date: '%a' }}</span>
            </time>
            <div class="ms-4 d-flex flex-column c-card align-items-start">
                <div class="meta rounded">
                    <span>{{ post.location }}</span>
                    <span>{{ post.weather }}</span>
                    <span>{{ post.temperature }}</span>
                </div>
                <div class="content">
                    {{ post.content | markdownify }}
                </div>
            </div>
        </li>

        {% if forloop.last %}
    </ul>{% endif %}
    {% endfor %}
</div>