
#talks {
    .date {
        line-height: 1;
    }
    .month {
        background-color:#0056B2;
        color: #fff;
        padding: 2px 5px;
    }
    .day {
        font-size: 36px;
        color: #0056B2;
    }
    .week {
        color: #aaa;
    }

    .content {
        margin: 10px 0 0;
        p {
            margin-bottom: 5px;
            font-size: 1rem;
        }
    }

    .meta {
        background-color: #9698E2;
        padding: 0 5px;
        color: white;
        font-size: 12px;
    }
}